* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hero-sec-img {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: -1;
}
.hero-section {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.788);
	display: flex;
	align-items: center;
}
.hero-section-heading {
	color: white;
	font-size: 1.5rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin-bottom: 50px;
	margin-left: 20px;
	font-weight: 100;
	line-height: 60px;
}
.hero-section-heading > span {
	font-size: 4rem;
	-webkit-text-stroke: 0.2px white;
	color: rgba(255, 255, 255, 0.022);
	font-weight: 600;
}
.team-section {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
}
.member-sec-heading {
	color: white;
	margin: 40px 0;
	font-size: 2rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.team-member {
	width: 90%;
	height: 400px;
	margin: 10px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.member-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	/* opacity: 0; */
}
.member-name {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 1.5rem;
	background-color: white;
	color: black;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: center;
}
